#main{
    display: flex;
    flex-direction: row;
}

.laMap{
    display: inline-block;
    box-sizing: border-box;
}

#menu{
    display: flex;
    flex-direction: column;
    width: 400px;
}

#menu *{
    margin-left: 20px;
}

.stat, .save{
    width: 50%;
    box-sizing: border-box;
}

.stat img{
    width: 100px;
    height: 100px;
}

.stat li{
    margin-left: 20px;
}

li{
    list-style: none;
}

span{
    box-sizing: border-box;
    margin-top: -4px;
}

img{
    display: inline-block;
    width:30px;
    height:30px;
    margin-top: -4px;
}

img.fight{
    display: inline-block;
    width:80px;
    height:80px;
}

.question{
	margin-top: 20px;
    width: 900px;
    text-align: center;
    font-size: 22px;
}

.combat{
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
}

#CombatPerso{
    width: 80px;
}

#CombatMonstre{
    margin-left: 20px;
    width: 80px;
}

.finCombat{
    margin-left: 20px;
    height: 30px;
}